@font-face {
  font-family: proximaNova;
  src: url(../webfonts/proxima-nova/ProximaNova.ttf);
}

@font-face {
	font-family: proximaBold;
	src: url(../webfonts/proxima-nova/ProximaNovaBold.ttf);
}

@font-face {
	font-family: proximaLight;
	src: url(../webfonts/proxima-nova/ProximaNovaLight.ttf);
}

@font-face {
	font-family: proximaSemi;
	src: url(../webfonts/proxima-nova/ProximaNovaSemibold.ttf);
}

html{
    background-color: #F1F4F5!important;
}

body {
	font-family: proximaNova;
	padding-top: 61px;
}


/* HEADER */

#admin-bar{
	padding: 0px;
	background: #F5F5F5;
	height: 61px;
}

#admin-bar .brand img{
	width: 100px;
	vertical-align: middle;
	margin-right: 20px;
}

#admin-bar #logo{
	margin-right: 0px;
	width: inherit;
}

#admin-bar a{
	padding: 0px 10px;
	color: #ffffff!important;
	height: 100%;
	line-height: 61px;
	border-radius: 0px;
	font-weight: 200;
}

#admin-bar .dropdown-menu a {
	color: #4a4a4a !important;
	line-height: 35px;
}

#admin-bar .dropdown-menu a:hover {
	background-color: rgba(0, 0, 0, 0.075) !important;
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	height: 100%;
	border-bottom-width: 0px;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
}

@media (max-width: 979px) {
	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
			padding: 0px;
	}
}

@media (max-width: 768px){
	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	    padding: 0px 20px;
	}
}

.navbar .btn-navbar{
	background-color: transparent;
	background-image: none;
}

#admin-bar .navbar a.brand{
	color: #ffffff!important;
	height: 100%;
	padding: 0px 10px;
	line-height: 61px;
	border-radius: 0px;
}

#admin-bar .navbar a.brand.btn-primary{
	color: #FFFFFF;
	background-image: none;
	background-color: transparent;
	border-color: transparent;
}

#admin-bar a:hover, #admin-bar a:focus{
	background-color: transparent !important;
	box-shadow: none;
}

#admin-bar .navbar .nav a.brand:hover{
	background-color: rgba(255, 255, 255, .1)!important;
	box-shadow: none;
}

#admin-bar .dropdown-toggle{
	/*color: #107fa9!important;*/
	line-height: 61px;
	height: 100%;
	font-weight: normal;
	padding: 0px 10px;
}

#admin-bar .dropdown-toggle:hover{
	background-color: rgba(255, 255, 255, .1)!important;
	box-shadow: none;
}

#admin-bar .open .dropdown-toggle, .controller-report .ui-layout-north .open .dropdown-toggle{
	background-color: rgba(255, 255, 255, .1) !important;
	box-shadow: none;
}

.dropdown-toggle.language img{
	margin-right: 5px;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
	background-image: none;
}



#admin-bar ul.nav li{
	top: 0px;
	height: 100%;
}

.nav-collapse.collapse, .nav-collapse .open .dropdown-menu{
	overflow: auto;
}

.navbar .nav{
	height: 100%;
}

body.module-admin{
	background: #F1F4F5;
}

.help-expand{
	margin-top: 10px!important;
	cursor: pointer;
	clear: both;
}

.card .card-content p{
	margin-bottom: 10px;
	font-size: 12px;
}

.card{
	margin-bottom: 25px;
}

.card .card-content .description-label{
	margin-bottom: 5px;
}

.card-header:after{
	clear: both;
	display: table;
  content: " ";
}

.card .card-content .card-title{
	line-height: 35px;
}

.card .card-header{
	line-height: 35px;
  margin-bottom: 20px;
}

.card-header .col-card-title{
	position: relative;
	text-align: left;
	width: 50%;
	float:left;
	min-height: 1px;
}

.module-admin #title{
    margin: 0px auto 10px 0;
	border-radius: 0px!important;
	background-color: #F1F4F5;
	box-shadow: none;
}

.module-admin .block{
	width: 100%;
}

.module-admin .event-info img{
    height: 70px!important;
		border-radius: 0px!important;
		border-width: 1px solid red !important;
}

.module-admin #title h1{
		color: #4a4a4a;
		font-family: proximaSemi;
		font-size: 24px;
		line-height: 29px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.module-admin #title h2{
		color: #9b9b9b;
		font-family: proximaNova;
    font-size: 12px;
}

.module-admin #title h3.event-id {
	color: #005874;
	font-family: proximaNova;
	font-size: 14px;
	margin-top: 5px;
}

.alert.recalc-status{
	background-color: transparent;
	border: none;
	margin-top: 8px;
	float: right;
}

@media (max-width: 979px) {
	.alert.recalc-status {
	    float: none;
	    margin-right: 0px;
	    text-align: center;
	}

	.alert.recalc-status button, .alert.recalc-status .btn-group{
		display: block;
		width: 100%;
	}
}

.module-admin #main{
	margin-top: 0px!important;
	width: 100%;
}

.module-admin #nav{
    width: 100%
}

#nav .main-nav ul.menu{
	background-color: #2C314E;
	height: 50px;
	box-shadow: none;
	padding-left: 10px;
	padding-right: 10px;
}

.module-admin #main .main-nav{
	height: 46px;
	overflow: hidden;
	white-space: nowrap;
}

#main .main-nav li{
	height: 46px;
	padding-top: 5px;
	padding-bottom: 0px;
}

#main .main-nav li a{
	background-color: transparent;
	color: rgba(255, 255, 255, .6);
	line-height: 25px;
	font-family: proximaBold;
	font-size: 12px;
	font-weight: normal !important;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

#main .main-nav li a:hover{
	background-color: transparent!important;
}

#main .main-nav li.nav-tab.active a:hover{
	background-color: #16A9E1!important;
}

.module-admin #main .main-nav li.active a, .module-admin #main .main-nav li.active a:hover{
	background-color: #16A9E1;
	color: #FFFFFF;
}

.module-admin #main .sub-nav{
	background-color: #354253;
	border-radius: 0px;
	box-shadow: none;
	overflow: hidden;
	white-space: nowrap;
}

.module-admin #main .sub-nav li.nav-tab a span, .module-admin #main .sub-nav li.flexMenu-viewMore a span{
	color: #9098a4;
	font-size: 12px;
}

.module-admin #main .sub-nav li.active a, .module-admin #main .sub-nav li.active a:hover{
	background-color: transparent!important;
}

.module-admin #main .sub-nav li.active a span, .module-admin #main .sub-nav li.active a:hover span{
	color: #FFFFFF;
	font-size: 12px;
	font-family: proximaNova;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.module-admin #main .sub-nav li a{
	background-color: transparent!important;
	color: #67717E;
	font-family: proximaNova;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#main .sub-nav li.nav-tab a span:hover{
    color: #FFFFFF!important;
}

.module-admin #page #content{
	background-color: #F8F9FD;
	border-radius: 0px;
	padding: 15px;
	margin-top: 0px;
}

.module-admin #content .container{
	width: 100%;
	margin-top: 0px;
}

.module-admin #page{
    box-shadow: none;
    border-radius: 0px;
    clear: both;
}

.navbar-inner {
	background-color: #2C314E !important;
	background-image: none;
}

.event-action-buttons{
	margin-top: 10px;
	margin-bottom: 10px;
}

.eventNotification{
	margin-top: 10px;
}

.eventNotification.well{
	border-color: #e51c23;
	background-color: #fdeaeb;
}

.text-content .eventNotification li{
	white-space: initial;
}

.text-content li{
	padding-left: initial;
}

/* Event Overview Image */

.hero-image-holder{
	height: inherit;
	margin-top: 0px;
	margin-bottom: 0px;
}

.hero-image-holder img{
	position: relative;
}

/* Event Overview Extended Event Description */

.container .extended-event-description dd{
	float:none;
}

.extended-event-description textarea{
	float: none;
}

/* Event Overview Races */

.races li a:nth-child(2){
	line-height: 33px;
}

.races li a:nth-child(3){
	float: right;
  line-height: 38px;
  margin-right: 10px;
}

.races img{
  position: relative;
  top: 8px;
  width: 25px;
  height: 25px;
}

.add-race{
	margin-right: 0px!important;
}

.dnd-sortable{
	margin: 0!important;
	padding: 0!important;
	border: none!important;
}

/* UI Helpers */

.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.caret{
	margin-top: 14px;
}
.margin-left-10{
	margin-left: 10px;
}
.margin-left-20{
	margin-left: 20px;
}
.margin-left-30{
	margin-left: 30px;
}
.margin-left-40{
	margin-left: 40px;
}
.margin-right-10{
	margin-right: 10px;
}
.margin-right-20{
	margin-right: 20px;
}
.margin-right-30{
	margin-right: 30px;
}
.margin-right-40{
	margin-right: 40px;
}
.margin-top-10{
	margin-top: 10px;
}
.margin-top-20{
	margin-top: 20px;
}
.margin-top-30{
	margin-top: 30px;
}
.margin-top-40{
	margin-top: 40px;
}
.margin-bottom-10{
	margin-bottom: 10px;
}
.margin-bottom-20{
	margin-bottom: 20px;
}
.margin-bottom-30{
	margin-bottom: 30px;
}
.margin-bottom-40{
	margin-bottom: 40px;
}

/* Buttons */
.btn{
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 14px;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	text-shadow: none;
	background-image: none;
	box-shadow: none;
}

.btn:hover, .btn:focus {
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
  background-image: none;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.btn-info:focus, .btn-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-warning {
  color: #FFFFFF;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  color: #FFFFFF;
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-warning:focus, .btn-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: #212529;
  background-color: #d39e00;
  border-color: #c69500;
}

.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-danger:focus, .btn-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.btn-light:focus, .btn-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-light.disabled, .btn-light:disabled {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}

.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-dark:focus, .btn-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #007bff;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-secondary {
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border-color: #6c757d;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #6c757d;
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-success {
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #28a745;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-info {
  color: #17a2b8;
  background-color: transparent;
  background-image: none;
  border-color: #17a2b8;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-info:focus, .btn-outline-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #17a2b8;
  background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-warning {
  color: #ffc107;
  background-color: transparent;
  background-image: none;
  border-color: #ffc107;
}

.btn-outline-warning:hover {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #ffc107;
  background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-danger {
  color: #dc3545;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #dc3545;
  background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-light {
  color: #f8f9fa;
  background-color: transparent;
  background-image: none;
  border-color: #f8f9fa;
}

.btn-outline-light:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light:focus, .btn-outline-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #f8f9fa;
  background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-dark {
  color: #343a40;
  background-color: transparent;
  background-image: none;
  border-color: #343a40;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #343a40;
  background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-link {
  font-weight: 400;
  color: #007bff;
  background-color: transparent;
}

.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
  border-color: transparent;
  box-shadow: none;
}

.btn-link:disabled, .btn-link.disabled {
  color: #6c757d;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 0.5rem;
}

a.btn{
	background-color: #F5F5F5;
}
a.btn.blue, a.btn.blue i, button.btn.blue, button.btn.blue i{
	color: #FFFFFF!important;
}

.btn-group.open .dropdown-toggle{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.075), 0 2px 10px 0 rgba(0, 0, 0, 0.075);
}
.dropdown-menu{
	right: 0;
	left: initial;
}
.btn-group > .btn:first-child{
	border-radius: 2px;
}
.btn-group li{
	text-align: center;
	margin: 5px;
}
.btn:active{
	box-shadow: inherit;
}

@media (max-width: 768px){

	.btn-phone-block{
		display: block;
		width: 100%;
		min-width: 100%;
	}

}

.chzn-container-single .chzn-single{
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.075), 0 2px 10px 0 rgba(0, 0, 0, 0.075);
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.075), 0 2px 10px 0 rgba(0, 0, 0, 0.075);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.075), 0 2px 10px 0 rgba(0, 0, 0, 0.075);
	background-color: #F5F5F5;
	background-image: none;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-transform: uppercase;
  line-height: 26px;
  padding: 3px 2rem;
  height: initial;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  color: #2196F3;
  text-decoration: none;
}

.chzn-container-single .chzn-single i{
	float: right;
	line-height: 24px;
}

.chzn-container-single .chzn-single span{
	margin-right: 0px;
}

.chzn-container-single .chzn-single:hover{
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}

.chzn-container > a{
	height: initial!important;
}

.chzn-container, form.event-search .control-group.fr-organizer_id{
	width: 100%;
	display: block;
}

/* FORM */

.form-inline .control-group label{
	margin-right: 0px;
	margin-bottom: 10px;
}

.control-group .search-query{
	width: 100%;
}

.control-group input{
	width: 100%;
}

.container textarea, .container input{
	padding: 17px 10px;
}

form.event-search .control-group.fr-q{
	width: 100%;
}

.form-inline .control-group{
	width: 100%;
	float: none;
	margin-right: 0px;
}

#fieldset-Search #submitsearch{
	position: relative;
	float: none!important;
	bottom: initial;
}

form.event-search .control-group.fr-status{
	width: 100%;
}

#fieldset-Search #resetsearch, #fieldset-Search #resetsearchteam{
	position: relative;
  right: initial;
  bottom: initial;
}

/***** EVENTS *****/

.search-paginator form{
	margin-bottom: 20px;
}

.search-paginator .dg{
	margin-bottom: 10px;
}

.new-event-button{
	text-align: right;
	margin-bottom: 20px;
}

.event-search-paginator #create-event-btn{
	position: relative;
	color: #FFFFFF !important;
	right: 0px;
}

div.paginationControl{
	border: none;
	border-radius: 0px;
	background: transparent;
	padding: 0px;
}

.search-paginator fieldset{
	min-width: 100%;
}

.paginationControl .row-range{
	line-height: 40px;
}

/* Reg Overview */

.fr-enable_online_slide label, .fr-enable_onsite_slide label{
	font-weight: 700;
	float: left;
}

/* TABLE */

.table-box {
	border: none;
	border-radius: 0px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	font-size: 14px;
	background-color: #FFFFFF;
	padding-bottom: 20px;
}

.table-box table .acenter{
	text-align: left;
}

.table-box table th, .table-box table td{
	padding-left: 10px;
	padding-right: 10px;
}

.table-box .table-header{
	line-height: 35px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
}

.table-box .table-header .table-title{
	line-height: 35px;
}

.table-box .table-title {
  font-size: 24px;
  font-weight: 300;
  color: #555555;
  padding: 20px;
}

.table-box tr.odd td{
	background-color: transparent;
}

.container th, .container td{
	border-right: none;
	border-bottom: none;
}

@media (max-width: 768px){

	.table-box-events th:nth-child(2), .table-box-events th:nth-child(5), .table-box-events tbody td:nth-child(2), .table-box-events tbody td:nth-child(5){
		display: none;
	}

	.table-box-athletes th:nth-child(3), .table-box-athletes th:nth-child(4), .table-box-athletes th:nth-child(5), .table-box-athletes th:nth-child(6), .table-box-athletes th:nth-child(7), .table-box-athletes th:nth-child(8), .table-box-athletes tbody td:nth-child(3), .table-box-athletes tbody td:nth-child(4), .table-box-athletes tbody td:nth-child(5), .table-box-athletes tbody td:nth-child(6), .table-box-athletes tbody td:nth-child(7), .table-box-athletes tbody td:nth-child(8){
		display: none;
	}

	.table-box table{
		font-size: 12px;
	}

}